# Ignore Java class files
**/*.class

# Ignore built JARs
**/*.jar

# Ignore executables
**/*.exe
**/*.dll
**/*.so

# Ignore IDE folders
**/*.iml
**/.idea/
.vscode/
**/*.lst

# Ignore log files
**/surefire-reports/*

**/results/*
**/datasets/*
!**/datasets/integration_test.csv

!**/results/integration_test_expected_result.txt
!**/results/SnapshotSize_plot.png
!**/results/Throughput_plot.png
!**/results/avger.py