# Ignore Java class files
**/*.class

# Ignore built JARs
**/*.jar

# Ignore executables
**/*.exe
**/*.dll
**/*.so

# Ignore IDE folders
**/*.iml
**/.idea/
.vscode/
**/*.lst

# Ignore log files
**/surefire-reports/*

**/results/*

!**/results/integration_test_expected_result.txt